@charset "UTF-8";

* {
           margin: 0px; /* Remove o 'magin' */
           padding: 0px; /* Remove o 'padding' */
           font-family: Arial, sans-serif;
        }

        /* Pseudo-elemento que permite estilizar a barra de rolagem do navegador */
        ::-webkit-scrollbar {
            width: 0px; /* Remove a barra de rolagem */
            height: 0px; /* Remove a barra de rolagem horizontal, se houver */
        }

        img {
            width: 100vw; /* Faz com que o elemento ocupe toda a largura da tela */
        }
        

        a {
            display: block; /* Faz com que os elementos ocupem toda a largura da tela e, consquentemente, os empilha verticalmente */
            background-color: darkred; /* Cor de fundo do link */
            color: white; /* Cor do texto do link */
            margin-top: 20px;
            padding: 20px; /* Aumenta o tamanho da caixa que contém o link */
            text-align: center; /* Centraliza o texto dentro da caixa do link */
            text-decoration: none; /* Remove o sublinhado do link */
            font-weight: bolder; /* Deixa o texto em negrito */
        } 

        /* Pseudo-class 'hover' serve para alterar o estilo do link ao passar o mouse por cima. Nesse caso, vai mudar a cor do botão 'Acesse!'*/
        a:hover {
            background-color: red; /* Cor de fundo do link quando o mouse estiver sobre ele */
        }